<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
<<<<<<< HEAD
      <form method="post" action="/piglatinize">
        <p>Enter your phrase:</p>
        <textarea name="user_phrase"></textarea>
=======
      <form method="post" action="/">
        <p>Please type here what you would like translated into Pig Latin:</p>
        <textarea name="user_text"></textarea>
>>>>>>> 4b6743370b19ef5b779d144f045ec9b04cf30abe
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>
  </body>
</html>